.messages {
    position: relative;
    list-style: none;
    padding: 20px 10px 0 10px;
    margin: 0;
    height: 347px;
    overflow: scroll;
}

.separator {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-bottom: 10px;
    color: #6d6d6d;
}
