.top_menu {
    background-color: #fff;
    width: 100%;
    padding: 20px 0 15px;
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    display: flex;
    margin: auto;
    padding: 20px;

    align-items: center;
}

.title {
    text-align: center;
    color: #6d6d6d;
    font-size: 20px;
    margin-right: 20px;
}

#lastMessageAt {
    margin-left: auto;
}
